@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is the code of the tutorial
        <a href="https://www.youtube.com/watch?v=eru2emiqow0&t=0s"><b>Razor Pages for ASP.NET Core - Full Course (.NET 6)</b> </a> by freeCodeCamp.org
    </p>
    <p>implemented by <b>ORÇUN ÖZDİL</b></p>

<iframe width="420" height="345" src="https://www.youtube.com/embed/eru2emiqow0">
</iframe>
</div>
